{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include "partials/_header.html" %}
    <main class="center-main">
        <div>
            <nav style="display: flex; align-items: center; gap: 15px;">
                <h1>
                    Dinheiro do user
                </h1>
                <a class="btn" href="#">sair da conta</a>
            </nav>
            <p class="border-left">
                R${{user.amount}}
            </p>
            <h1>
                Renda total
                <a class="btn" href="#">sacar</a>
            </h1>
            <p class="border-left">
                R${{user.amount}}
            </p>
        </div>
    </main>
{% endblock content %}