{% extends "base.html" %}
{% block content %}
    <header class="bg-primary">
        <h1 class="center-txt h1-header">
            Sobre o usuario - <?=$username?>
            <a href="../../index.php">
                <img width="60" src="../../assets/svgs/logo-pix.svg" alt="icone_do_pix">
            </a>
        </h1>
        <nav class="header-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a href="../../app/pages/trading.php" class="nav-link">
                        Trading
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../app/pages/game.php" class="nav-link">
                        Jogar
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="center-main">
        <div>
            <nav style="display: flex; align-items: center; gap: 15px;">
                <h1>
                    Dinheiro do user
                </h1>
                <a class="btn" href="./logout.php">sair da conta</a>
            </nav>
            <p class="border-left">
                <?="R$" . number_format($money, 2, ',', '.')?>
            </p>
            <p style="color: red;">
                <?= $error?>
            </p>
        </div>
    </main>
{% endblock content %}