{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include "partials/_header.html" %}
    <main class="center-main">
        <div class="row-main-table">
            <h2 class="title-trading">Tabela de Trading</h2>
            <ul class="nav-trading">
                <li>
                    <form action="#" method="post">
                        <input type="hidden" name="depositedValue" value="200">
                        <input class="trading-input" type="submit" value="$200 Retorno 2000">
                    </form>
                </li>   
                <li>
                    <form action="#" method="post">
                        <input type="hidden" name="depositedValue" value="250">
                        <input class="trading-input" type="submit" value="$250 Retorno 2500">
                    </form>
                </li>
                <li>
                    <form action="#" method="post">
                        <input type="hidden" name="depositedValue" value="300">
                        <input class="trading-input" type="submit" value="$300 Retorno 3000">
                    </form>
                </li>
                <li>
                    <form action="#" method="post">
                        <input type="hidden" name="depositedValue" value="350">
                        <input class="trading-input" type="submit" value="$350 Retorno 3500">
                    </form>
                </li>
                <li>
                    <form action="#" method="post">
                        <input type="hidden" name="depositedValue" value="400">
                        <input class="trading-input" type="submit" value="$400 Retorno 4000">
                    </form>
                </li>
            </ul>
            <div class="img-center">
                <img src="{% static "imgs/urubu.png" %}" width="300" alt="urubu-image"> 
            </div>
        </div>
    </main>
    <footer class="pd-p">
        <p style="padding-top: 10px;">
            <i class="bi bi-check-circle" style="padding: 0 5px 0 0;"></i>Seguro
        </p>
        <p>
            <i class="bi bi-check-circle" style="padding: 0 5px 0 0;"></i>Rapido
        </p>
        <p>
            <i class="bi bi-check-circle" style="padding: 0 5px 0 0;"></i>Pratico
        </p>
    </footer>
{% endblock content %}