{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include "partials/_header.html" %}
    <main class="center-main">
        <form action="{% url "trading" %}" method="post" class="form-deposit">
            {% csrf_token %}
            <label for="depositedValue">Valor para depositar...</label>
            <input type="number" name="depositedValue" id="depositedValueId" placeholder="R$..." required autofocus step="0.01">
            <input type="submit" value="Depositar">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </main>
{% endblock content %}