{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include "partials/_header.html" %}
    <main class="center-main">
        <form action="#" method="post" class="form-deposit">
            <label for="depositedValue">Valor para depositar...</label>
            <input type="number" name="depositedValue" id="depositedValueId" placeholder="R$..." required autofocus step="0.01">
            {% if message %}
                mensagem
            {% endif %}
            <input type="submit" value="Depositar">
        </form>
    </main>
{% endblock content %}