{% load static %}
<header class="bg-primary">
    <h1 class="center-txt h1-header">
        Urubu do pix
        <a href="{% url "index" %}">
            <img width="60" src="{% static "svgs/logo-pix.svg" %}" alt="icone_do_pix">
        </a>
    </h1>
    <nav class="header-nav">
        <ul class="nav">
            <li class="nav-item">
                <a href="{% url "trading" %}" class="nav-link">
                    Trading
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Jogar
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Conta
                </a>
            </li>
        </ul>
    </nav>
</header>